@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem 0;
  font-family: "Inter", sans-serif;
  background-color: linier-gradient(90deg, #4b6cb7, #182848, #4b6cb7);
}

main {
  background-color: #fff;
  border-radius: 10px;
  border: 4px ridge rgba(28, 110, 164, 0.19);
  border-radius: 13px;
  -webkit-box-shadow: 1px 1px 11px -2px #000000;
  box-shadow: 1px 1px 11px -2px #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #5f3bfe;
  width: 100%;
  height: 40%;
  padding: 1rem 2rem;
  border-radius: 10px 10px 0 0;
}

header h2 {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header div input {
  padding: 0.5rem 1rem;
  border: 2px solid #ffffff7a;
  border-radius: 5px;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background: transparent;
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

header div button {
  padding: 0.5rem 1.2rem;
  border: 2px solid #ffffff7a;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #000000b7;
  background-color: #ffffff;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: all ease 300ms;
}

header div button:hover {
  background-color: transparent;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  text-align: start;
  padding: 2rem 1rem;
  height: 60%;
  background-color: rgb(241, 241, 241);
  width: 100%;
} 

footer .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  border-radius: 10px;
}

footer .div h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #30007ccc;
  font-family: "Inter", sans-serif;
}

footer .div p {
  font-size: 0.8rem;
  word-spacing: -.5px;
  color: #00000098;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}